<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <remove name="LocalMySqlServer"/>

	  <!--for windows 7 and all-->
	  <!--malasdevelopment-->
    <!--malasnewdb-->
    <!--malasdbnew-->
    <!--malasdb-04-09-2024-->

    <!--malasdb09092024-->
	  <!--malasdb15092024-->
	  <!--malasdb-01-10-2024-->
	  <!--malasdb14102024-->

	  <!--malasdb08112024-->
	  <!--malas15112024-->
	  <!--<add connectionString="Server=localhost;User=root;Database=malas15112024;Port=3306;Password=Clinic@1234;SSL Mode=None" name="MyCon" providerName="MySql.Data.MySqlClient"/>-->
	  <!--<add connectionString="Server=localhost;User=root;Database=malasdb08112024;Port=3306;Password=Clinic@1234;SSL Mode=None" name="MyCon" providerName="MySql.Data.MySqlClient"/>-->

	  <!--malascasual-07-12-2024-->
	  <!--malas20122024-->
	  <!--malas26122024-->
	  <!--malas05012025-->
	  <!--malas10012025-->
	  <!--malasdbcasual-->
	  <!--malasotapprovaldb-->
	  <!--malasotapprovaldb-->

	  <!--Main-->
	  <!--malasnewhrmserver-->
	  <!--malasnewserver31052026-->
	  <!--hrmnew-->
	  <add connectionString="Server=localhost;User=root;Database=hrmnew;Port=3306;Password=Clinic@1234;SSL Mode=None" name="MyCon" providerName="MySql.Data.MySqlClient"/>
	  <!--<add connectionString="Server=localhost;User=root;Database=malasnewserver31052026;Port=3306;Password=Clinic@1234;SSL Mode=None" name="MyCon" providerName="MySql.Data.MySqlClient"/>-->
	  <!--<add connectionString="Server=localhost;User=root;Database=malasnewhrmserver;Port=3306;Password=Clinic@1234;SSL Mode=None" name="MyCon" providerName="MySql.Data.MySqlClient"/>-->
	  <!--<add connectionString="Server=localhost;User=root;Database=malasdbnewboth;Port=3306;Password=Clinic@1234;SSL Mode=None" name="MyCon" providerName="MySql.Data.MySqlClient"/>-->
	  <!--<add connectionString="Server=localhost;User=root;Database=malasdb_new;Port=3306;Password=Clinic@1234;SSL Mode=None" name="MyCon" providerName="MySql.Data.MySqlClient"/>-->
	  <!--<add connectionString="Server=localhost;User=root;Database=malasdbcasual;Port=3306;Password=Clinic@1234;SSL Mode=None" name="MyCon" providerName="MySql.Data.MySqlClient"/>-->
	  <!--<add connectionString="Server=localhost;User=root;Database=malasdbsalary;Port=3306;Password=Clinic@1234;SSL Mode=None" name="MyCon" providerName="MySql.Data.MySqlClient"/>-->
	  <!--<add connectionString="Server=localhost;User=root;Database=malasdb1;Port=3306;Password=Clinic@1234;SSL Mode=None" name="MyCon" providerName="MySql.Data.MySqlClient" />-->
	  <!--<add connectionString="Server=localhost;User=root;Database=malasdb;Port=3306;Password=Clinic@1234;SSL Mode=None" name="MyCon" providerName="MySql.Data.MySqlClient" />-->
	  
	  <!--Casual-->
	  <!--<add connectionString="Server=localhost;User=root;Database=malasdbc;Port=3306;Password=Clinic@1234;SSL Mode=None" name="MyCon" providerName="MySql.Data.MySqlClient" />-->
	  
	  <!--<add connectionString="Server=localhost;User=root;Database=malasdbcasual;Port=3306;Password=Clinic@1234;SSL Mode=None" name="MyCon" providerName="MySql.Data.MySqlClient"/>-->
	  <!--<add connectionString="Server=localhost;User=root;Database=malasotapprovaldb;Port=3306;Password=Clinic@1234;SSL Mode=None" name="MyCon" providerName="MySql.Data.MySqlClient"/>-->
	  <!--<add connectionString="Server=localhost;User=root;Database=malasdbcasual;Port=3306;Password=Clinic@1234;SSL Mode=None" name="MyCon" providerName="MySql.Data.MySqlClient"/>-->
	  <!--<add connectionString="Server=localhost;User=root;Database=malas20122024;Port=3306;Password=Clinic@1234;SSL Mode=None" name="MyCon" providerName="MySql.Data.MySqlClient"/>-->
	  <!--<add connectionString="Server=localhost;User=root;Database=malas10012025;Port=3306;Password=Clinic@1234;SSL Mode=None" name="MyCon" providerName="MySql.Data.MySqlClient"/>-->
	  <!--<add connectionString="Server=localhost;User=root;Database=malas05012025;Port=3306;Password=Clinic@1234;SSL Mode=None" name="MyCon" providerName="MySql.Data.MySqlClient"/>-->
	  <!--<add connectionString="Server=localhost;User=root;Database=malas26122024;Port=3306;Password=Clinic@1234;SSL Mode=None" name="MyCon" providerName="MySql.Data.MySqlClient"/>-->
	  <!--<add connectionString="Server=localhost;User=root;Database=malas20122024;Port=3306;Password=Clinic@1234;SSL Mode=None" name="MyCon" providerName="MySql.Data.MySqlClient"/>-->
	  <!--<add connectionString="Server=localhost;User=root;Database=malasdbcasual;Port=3306;Password=Clinic@1234;SSL Mode=None" name="MyCon" providerName="MySql.Data.MySqlClient"/>-->
	  
	  <!--<add connectionString="Server=localhost;User=root;Database=malasdb14102024;Port=3306;Password=Clinic@1234;SSL Mode=None" name="MyCon" providerName="MySql.Data.MySqlClient"/>-->
	  <!--<add connectionString="Server=localhost;User=root;Database=malasdb-01-10-2024;Port=3306;Password=Clinic@1234;SSL Mode=None" name="MyCon" providerName="MySql.Data.MySqlClient"/>-->
	  <!--<add connectionString="Server=localhost;User=root;Database=malasdb15092024;Port=3306;Password=Clinic@1234;SSL Mode=None" name="MyCon" providerName="MySql.Data.MySqlClient"/>-->
	  <!--<add connectionString="Server=localhost;User=root;Database=malasdb09092024;Port=3306;Password=Clinic@1234;SSL Mode=None" name="MyCon" providerName="MySql.Data.MySqlClient"/>-->
    <!--<add connectionString="Server=localhost;User=root;Database=malasdb-04-09-2024;Port=3306;Password=Clinic@1234;SSL Mode=None" name="MyCon" providerName="MySql.Data.MySqlClient"/>-->
    <!--<add connectionString="Server=localhost;User=root;Database=malasdbnew;Port=3306;Password=Clinic@1234;SSL Mode=None" name="MyCon" providerName="MySql.Data.MySqlClient"/>-->
    <!--<add connectionString="Server=localhost;User=root;Database=malasnewdb;Port=3306;Password=Clinic@1234;SSL Mode=None" name="MyCon" providerName="MySql.Data.MySqlClient"/>-->
    <!--<add connectionString="Server=localhost;User=root;Database=malasdevelopment;Port=3306;Password=Clinic@1234;SSL Mode=None" name="MyCon" providerName="MySql.Data.MySqlClient"/>-->
    <!--<add connectionString="Server=localhost;User=root;Database=malasdbtest;Port=3306;Password=Clinic@1234;SSL Mode=None" name="MyCon" providerName="MySql.Data.MySqlClient"/>-->
	  <!--<add connectionString="Server=localhost;User=root;Database=malasdb;Port=3306;Password=Clinic@1234;SSL Mode=None" name="MyCon" providerName="MySql.Data.MySqlClient" />-->
	  <!--<add connectionString="Server=localhost;User=root;Database=malasdb12072024;Port=3306;Password=Clinic@1234;SSL Mode=None" name="MyCon" providerName="MySql.Data.MySqlClient" />-->

	  <!--Comman-->
	  <!--<add connectionString="Server=localhost;Port=3306;Database=malas12072024;Uid=root;Pwd='Clinic@1234'" name="MyCon" providerName="MySql.Data.MySqlClient"/>-->
	  <!--<add connectionString="Server=Yash;Port=3306;Database=malas12072024;Uid=muser;Pwd='Clinic@1234'" name="MyCon" providerName="MySql.Data.MySqlClient"/>-->
	  <!--<add connectionString="Server=Yash;Port=3306;Database=malas03;Uid=muser;Pwd='Clinic@1234'" name="MyCon" providerName="MySql.Data.MySqlClient"/>-->
	  <add name="ESSLConnectionAccess" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=D:\BitBucketProjects\Malas Fruit\Database\AccessDB\eTimeTrackLite1.mdb" providerName="System.Data.OleDb"/>
	  <!--<add name="ESSLConnectionSql" connectionString="Data Source=DEVELOPER;Initial Catalog=etimetracklite1;Integrated Security=True;" providerName="System.Data.SqlClient"/>-->

	  <add name="ESSLConnectionSql" connectionString="Data Source=DEVELOPER\SQLEXPRESS;Initial Catalog=etimetracklite1;Integrated Security=True;" providerName="System.Data.SqlClient"/>
	  
	  <!--<add name="ESSLConnectionSql1" connectionString="Data Source=DEVELOPER\SQLEXPRESS;Initial Catalog=etimetracklite1;Integrated Security=True;" providerName="System.Data.SqlClient"/>-->
	  <add name="ERPConnectionSql" connectionString="Server=192.168.1.251;Database=TNTINFRA_Live;User Id=sa;Password='Password9'" providerName="System.Data.SqlClient"/>

	  
	  <!--<add connectionString="Server=103.83.81.7;Port=3306;Database=samarthe_webservicedb;Uid=samar_webuser;Pwd='Logical@123'" name="MyCon" providerName="MySql.Data.MySqlClient" />--><!--
    --><!--<add connectionString="Server=localhost;Port=3306;Database=malasdbnew;Uid=root;Pwd='Clinic@1234'" name="MyCon" providerName="MySql.Data.MySqlClient" />--><!--
    --><!--<add connectionString="Server=localhost;Port=3306;Database=malaslatest;Uid=root;Pwd='Clinic@1234'" name="MyCon" providerName="MySql.Data.MySqlClient" />--><!--
    --><!--<add connectionString="Server=localhost;Port=3306;Database=mdb11;Uid=root;Pwd='Clinic@1234'" name="MyCon" providerName="MySql.Data.MySqlClient" />--><!--
    --><!--<add connectionString="Server=localhost;Port=3306;Database=malasdb;Uid=root;Pwd='Clinic@1234'" name="MyCon" providerName="MySql.Data.MySqlClient" />--><!--
    --><!--<add connectionString="Server=localhost;Port=3306;Database=malasnew14;Uid=root;Pwd='Clinic@1234'" name="MyCon" providerName="MySql.Data.MySqlClient" />--><!--
    --><!--<add connectionString="Server=localhost;Port=3306;Database=mtest;Uid=root;Pwd='Clinic@1234'" name="MyCon" providerName="MySql.Data.MySqlClient" />--><!--
    --><!--<add connectionString="Server=localhost;Port=3306;Database=malas09;Uid=root;Pwd='Clinic@1234'" name="MyCon" providerName="MySql.Data.MySqlClient" />--><!--
    --><!--<add connectionString="Server=localhost;Port=3306;Database=malas150623;Uid=root;Pwd='Clinic@1234'" name="MyCon" providerName="MySql.Data.MySqlClient" />--><!--

    --><!--<add connectionString="Server=localhost;Port=3306;Database=malas24062023;Uid=root;Pwd='Clinic@1234'" name="MyCon" providerName="MySql.Data.MySqlClient" />--><!--
    --><!--<add connectionString="Server=localhost;Port=3306;Database=malasnewtest;Uid=root;Pwd='Clinic@1234'" name="MyCon" providerName="MySql.Data.MySqlClient" />--><!--

    --><!--<add connectionString="Server=localhost;Port=3306;Database=malasnewtest;Uid=root;Pwd='Clinic@1234'" name="MyCon" providerName="MySql.Data.MySqlClient" />--><!--
    
    
    --><!--<add connectionString="Server=localhost;Port=3306;Database=malasnewtest;Uid=root;Pwd='Clinic@1234'" name="MyCon" providerName="MySql.Data.MySqlClient" />--><!--
    
    --><!--20-11-2023--><!--
    --><!--malas15122023--><!--
    --><!--malas17122023--><!--
    --><!--nalasdb17--><!--
    --><!--malas20122023--><!--
    --><!--malasdb24122023--><!--
    --><!--malas26122023--><!--
    --><!--malas27122023--><!--
    --><!--malas2712--><!--
    --><!--malasfinal010124--><!--
    --><!--malasdb05012024--><!--
    --><!--malas06012024--><!--
    --><!--malasdb060124--><!--
    --><!--malasdb07012024--><!--
    --><!--malasdb08012024--><!--
    --><!--malasdb10012024--><!--
    --><!--malasdb14012023--><!--
    --><!--malasdb--><!--
    --><!--malasdb29012024--><!--
    --><!--malasdb03022024--><!--
    --><!--malasdb07022024--><!--
    --><!--malasdb10022024--><!--
    --><!--malasdb11022024--><!--
    --><!--malasdb12022024--><!--

    --><!--malasdb20022024--><!--

    --><!--malasdb21022024--><!--
    --><!--malasdb23022024--><!--

    --><!--malasdb26022024--><!--
    --><!--malasdb27022024--><!--
    --><!--malasdb2802024--><!--
    --><!--malasdb01032024--><!--
    --><!--malasdb04032023--><!--
    --><!--malasdb07032024--><!--
    --><!--malasdb08032024--><!--
    --><!--malasdb18032024--><!--
    --><!--malasdb20032024--><!--
    --><!--malasdb24032024--><!--
    --><!--malasdb25032024--><!--
    --><!--malasdb26032024--><!--
    --><!--malasdb29032024--><!--

    --><!--malasdb30032024--><!--
    --><!--malasdb31-03-2024--><!--
    --><!--malasdb01042024--><!--

    --><!--malasdb04042024--><!--
    --><!--malasdb06042024--><!--
    --><!--malas10042024--><!--
    --><!--malasdb--><!--
    --><!--malastest--><!--
--><!--malastest--><!--
    --><!--<add connectionString="Server=localhost;Port=3306;Database=malasdb;Uid=root;Pwd='Clinic@1234'" name="MyCon" providerName="MySql.Data.MySqlClient"/>--><!--
	  --><!--<add connectionString="Server=Yash;Port=3306;Database=malasdb;Uid=muser;Pwd='Clinic@1234'" name="MyCon" providerName="MySql.Data.MySqlClient"/>--><!--

	  --><!--<add connectionString="Server=Yash;Port=3306;Database=malasc;Uid=muser;Pwd='Clinic@1234'" name="MyCon" providerName="MySql.Data.MySqlClient"/>--><!--
	  
	  --><!--malas03--><!--
	  <add connectionString="Server=Yash;Port=3306;Database=malasdb;Uid=muser;Pwd='Clinic@1234'" name="MyCon" providerName="MySql.Data.MySqlClient"/>
	  --><!--<add connectionString="Server=Yash;Port=3306;Database=malas03;Uid=muser;Pwd='Clinic@1234'" name="MyCon" providerName="MySql.Data.MySqlClient"/>--><!--
	  --><!--<add connectionString="Server=Yash;Port=3306;Database=malastest;Uid=muser;Pwd='Clinic@1234'" name="MyCon" providerName="MySql.Data.MySqlClient"/>--><!--
	  
	  --><!--<add connectionString="Server=Yash;Port=3306;Database=malastest;Uid=muser;Pwd='Clinic@1234'" name="MyCon" providerName="MySql.Data.MySqlClient"/>--><!--
    
    --><!--Working--><!--
    --><!--<add name="MyCon" connectionString="Server=localhost;Port=3306;Database=malasdb;Uid=root;Pwd='Clinic@1234'" providerName="MySql.Data.MySqlClient" />--><!--
    
    
    --><!--<add name="MyCon" providerName="MySql.Data.MySqlClient" connectionString="Server=localhost;Port=3306;Database=malasdb;Uid=root;Pwd='Clinic@1234'"/>--><!--
    --><!--<add name="MyCon" providerName="MySql.Data.MySqlClient" connectionString="Server=localhost;Port=3306;Database=malas10042024;Uid=root;Pwd='Clinic@1234'"/>--><!--
    --><!--<add name="MyCon" providerName="MySql.Data.MySqlClient" connectionString="Server=localhost;Port=3306;Database=malasdb06042024;Uid=root;Pwd='Clinic@1234'"/>--><!--
    --><!--<add name="MyCon" providerName="MySql.Data.MySqlClient" connectionString="Server=localhost;Port=3306;Database=malasdb04042024;Uid=root;Pwd='Clinic@1234'"/>--><!--
    --><!--<add name="MyCon" providerName="MySql.Data.MySqlClient" connectionString="Server=localhost;Port=3306;Database=malasdb01042024;Uid=root;Pwd='Clinic@1234'"/>--><!--
    --><!--<add name="MyCon" providerName="MySql.Data.MySqlClient" connectionString="Server=localhost;Port=3306;Database=malasdb31-03-2024;Uid=root;Pwd='Clinic@1234'"/>--><!--
    --><!--<add name="MyCon" providerName="MySql.Data.MySqlClient" connectionString="Server=localhost;Port=3306;Database=malasdb30032024;Uid=root;Pwd='Clinic@1234'"/>--><!--
    --><!--<add name="MyCon" providerName="MySql.Data.MySqlClient" connectionString="Server=localhost;Port=3306;Database=malasdb29032024;Uid=root;Pwd='Clinic@1234'"/>--><!--
    --><!--<add name="MyCon" providerName="MySql.Data.MySqlClient" connectionString="Server=localhost;Port=3306;Database=malasdb26032024;Uid=root;Pwd='Clinic@1234'"/>--><!--
    --><!--<add name="MyCon" providerName="MySql.Data.MySqlClient" connectionString="Server=localhost;Port=3306;Database=malasdb25032024;Uid=root;Pwd='Clinic@1234'"/>--><!--
    --><!--<add name="MyCon" providerName="MySql.Data.MySqlClient" connectionString="Server=localhost;Port=3306;Database=malasdb24032024;Uid=root;Pwd='Clinic@1234'"/>--><!--
    
    --><!--<add name="MyCon" providerName="MySql.Data.MySqlClient" connectionString="Server=localhost;Port=3306;Database=malasdb20032024;Uid=root;Pwd='Clinic@1234'"/>--><!--
    --><!--<add name="MyCon" providerName="MySql.Data.MySqlClient" connectionString="Server=localhost;Port=3306;Database=malasdb18032024;Uid=root;Pwd='Clinic@1234'"/>--><!--
    --><!--<add name="MyCon" providerName="MySql.Data.MySqlClient" connectionString="Server=localhost;Port=3306;Database=malasdb08032024;Uid=root;Pwd='Clinic@1234'"/>--><!--
    --><!--<add name="MyCon" providerName="MySql.Data.MySqlClient" connectionString="Server=localhost;Port=3306;Database=malasdb07032024;Uid=root;Pwd='Clinic@1234'"/>--><!--
    --><!--<add name="MyCon" providerName="MySql.Data.MySqlClient" connectionString="Server=localhost;Port=3306;Database=malasdb04032023;Uid=root;Pwd='Clinic@1234'"/>--><!--
    --><!--<add name="MyCon" providerName="MySql.Data.MySqlClient" connectionString="Server=localhost;Port=3306;Database=malasdb01032024;Uid=root;Pwd='Clinic@1234'"/>--><!--
    --><!--<add name="MyCon" providerName="MySql.Data.MySqlClient" connectionString="Server=localhost;Port=3306;Database=malasdb2802024;Uid=root;Pwd='Clinic@1234'"/>--><!--
    --><!--<add name="MyCon" providerName="MySql.Data.MySqlClient" connectionString="Server=localhost;Port=3306;Database=malasdb27022024;Uid=root;Pwd='Clinic@1234'"/>--><!--
    --><!--<add name="MyCon" providerName="MySql.Data.MySqlClient" connectionString="Server=localhost;Port=3306;Database=malasdb26022024;Uid=root;Pwd='Clinic@1234'"/>--><!--
    --><!--<add name="MyCon" providerName="MySql.Data.MySqlClient" connectionString="Server=localhost;Port=3306;Database=malasdb23022024;Uid=root;Pwd='Clinic@1234'"/>--><!--
    --><!--<add name="MyCon" providerName="MySql.Data.MySqlClient" connectionString="Server=localhost;Port=3306;Database=malasdb21022024;Uid=root;Pwd='Clinic@1234'"/>--><!--
    --><!--<add name="MyCon" providerName="MySql.Data.MySqlClient" connectionString="Server=localhost;Port=3306;Database=malasdb20022024;Uid=root;Pwd='Clinic@1234'"/>--><!--
    --><!--<add name="MyCon" providerName="MySql.Data.MySqlClient" connectionString="Server=localhost;Port=3306;Database=malasdb12022024;Uid=root;Pwd='Clinic@1234'"/>--><!--
    --><!--<add name="MyCon" providerName="MySql.Data.MySqlClient" connectionString="Server=localhost;Port=3306;Database=malasdb11022024;Uid=root;Pwd='Clinic@1234'" />--><!--
    --><!--<add name="MyCon" providerName="MySql.Data.MySqlClient" connectionString="Server=localhost;Port=3306;Database=malasdb10022024;Uid=root;Pwd='Clinic@1234'" />--><!--
    --><!--<add name="MyCon" providerName="MySql.Data.MySqlClient" connectionString="Server=localhost;Port=3306;Database=malasdb07022024;Uid=root;Pwd='Clinic@1234'" />--><!--
    --><!--<add name="MyCon" providerName="MySql.Data.MySqlClient" connectionString="Server=localhost;Port=3306;Database=malasdb03022024;Uid=root;Pwd='Clinic@1234'" />--><!--
    --><!--<add name="MyCon" providerName="MySql.Data.MySqlClient" connectionString="Server=localhost;Port=3306;Database=malasdb29012024;Uid=root;Pwd='Clinic@1234'" />--><!--
    --><!--<add name="MyCon" providerName="MySql.Data.MySqlClient" connectionString="Server=localhost;Port=3306;Database=malasdb14012023;Uid=root;Pwd='Clinic@1234'" />--><!--
    --><!--<add name="MyCon" providerName="MySql.Data.MySqlClient" connectionString="Server=localhost;Port=3306;Database=malasdb;Uid=root;Pwd='Clinic@1234'" />--><!--
    --><!--<add name="MyCon" providerName="MySql.Data.MySqlClient" connectionString="Server=localhost;Port=3306;Database=malasdb10012024;Uid=root;Pwd='Clinic@1234'" />--><!--
    --><!--<add connectionString="Server=localhost;Port=3306;Database=malasdb08012024;Uid=root;Pwd='Clinic@1234'" name="MyCon" providerName="MySql.Data.MySqlClient" />--><!--
    --><!--<add connectionString="Server=localhost;Port=3306;Database=malasdb07012024;Uid=root;Pwd='Clinic@1234'" name="MyCon" providerName="MySql.Data.MySqlClient" />--><!--
    --><!--<add connectionString="Server=localhost;Port=3306;Database=malasdb060124;Uid=root;Pwd='Clinic@1234'" name="MyCon" providerName="MySql.Data.MySqlClient" />--><!--
    --><!--<add connectionString="Server=localhost;Port=3306;Database=malas06012024;Uid=root;Pwd='Clinic@1234'" name="MyCon" providerName="MySql.Data.MySqlClient" />--><!--
    --><!--<add connectionString="Server=localhost;Port=3306;Database=malasdb05012024;Uid=root;Pwd='Clinic@1234'" name="MyCon" providerName="MySql.Data.MySqlClient" />--><!--
    --><!--<add connectionString="Server=localhost;Port=3306;Database=malasfinal010124;Uid=root;Pwd='Clinic@1234'" name="MyCon" providerName="MySql.Data.MySqlClient" />--><!--
    --><!--<add connectionString="Server=localhost;Port=3306;Database=malas2712;Uid=root;Pwd='Clinic@1234'" name="MyCon" providerName="MySql.Data.MySqlClient" />--><!--
    --><!--<add connectionString="Server=localhost;Port=3306;Database=malas27122023;Uid=root;Pwd='Clinic@1234'" name="MyCon" providerName="MySql.Data.MySqlClient" />--><!--
    --><!--<add connectionString="Server=localhost;Port=3306;Database=malas26122023;Uid=root;Pwd='Clinic@1234'" name="MyCon" providerName="MySql.Data.MySqlClient" />--><!--
    --><!--<add connectionString="Server=localhost;Port=3306;Database=malasdb24122023;Uid=root;Pwd='Clinic@1234'" name="MyCon" providerName="MySql.Data.MySqlClient" />--><!--
    --><!--<add connectionString="Server=localhost;Port=3306;Database=malas20122023;Uid=root;Pwd='Clinic@1234'" name="MyCon" providerName="MySql.Data.MySqlClient" />--><!--
    --><!--<add connectionString="Server=localhost;Port=3306;Database=nalasdb17;Uid=root;Pwd='Clinic@1234'" name="MyCon" providerName="MySql.Data.MySqlClient" />--><!--
    --><!--<add connectionString="Server=localhost;Port=3306;Database=malas15122023;Uid=root;Pwd='Clinic@1234'" name="MyCon" providerName="MySql.Data.MySqlClient" />--><!--
    --><!--<add connectionString="Server=localhost;Port=3306;Database=malas15122023;Uid=root;Pwd='Clinic@1234'" name="MyCon" providerName="MySql.Data.MySqlClient" />--><!--
    --><!--<add connectionString="Server=localhost;Port=3306;Database=malas08122023;Uid=root;Pwd='Clinic@1234'" name="MyCon" providerName="MySql.Data.MySqlClient" />--><!--
    --><!--<add connectionString="Server=localhost;Port=3306;Database=malas20112023;Uid=root;Pwd='Clinic@1234'" name="MyCon" providerName="MySql.Data.MySqlClient" />--><!--
    --><!--<add connectionString="Server=DESKTOP-G97US9A;Port=3306;Database=malasdb;Uid=muser;Pwd='Clinic@1234'" name="MyCon" providerName="MySql.Data.MySqlClient" />--><!--
    --><!--<add connectionString="Server=localhost;Port=3306;Database=malasnewtest;Uid=root;Pwd='Clinic@1234'" name="MyCon" providerName="MySql.Data.MySqlClient" />--><!--

    --><!--<add connectionString="Server=DESKTOP-G97US9A;Port=3306;Database=malasdb;Uid=muser;Pwd='Clinic@1234'" name="MyCon" providerName="MySql.Data.MySqlClient" />--><!--
    --><!--<add connectionString="Server=localhost;Port=3306;Database=malaworking;Uid=root;Pwd='Clinic@1234'" name="MyCon" providerName="MySql.Data.MySqlClient" />--><!--
    --><!--<add connectionString="Server=localhost;Port=3306;Database=malastest;Uid=root;Pwd='Clinic@1234'" name="MyCon" providerName="MySql.Data.MySqlClient" />--><!--

    --><!--<add name="ESSLConnectionAccess" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=D:\BitBucketProjects\Malas Fruit\Database\from Malas Server\eTimeTrackLite1.mdb" providerName="System.Data.OleDb" />--><!--

    <add name="ESSLConnectionAccess" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=D:\BitBucketProjects\Malas Fruit\Database\AccessDB\eTimeTrackLite1.mdb" providerName="System.Data.OleDb"/>

    --><!--<add name="ESSLConnectionAccess" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=D:\BitBucketProjects\Malas Fruit\Database\ESSLAccess\eTimeTrackLite1.mdb" providerName="System.Data.OleDb" />--><!--
    <add name="ESSLConnectionSql" connectionString="Data Source=YASH\SQLEXPRESS;Initial Catalog=etimetracklite1;Integrated Security=True;" providerName="System.Data.SqlClient"/>

    --><!--<add name="ESSLConnectionSql" connectionString="Data Source=DESKTOP-G97US9A\SQLEXPRESS;Initial Catalog=etimetracklite1;Integrated Security=True;" providerName="System.Data.SqlClient" />--><!--
    --><!--<add name="ERPConnectionSql" connectionString="Data Source=192.168.1.251;Initial Catalog=etimetracklite1;Integrated Security=True;" providerName="System.Data.SqlClient"/>--><!--
    <add name="ERPConnectionSql" connectionString="Server=192.168.1.251;Database=TNTINFRA_Live;User Id=sa;Password='Password9'" providerName="System.Data.SqlClient"/>-->

  </connectionStrings>

  <appSettings>
	  <add key="EPPlus:ExcelPackage.LicenseContext" value="NonCommercial"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
    <add key="SecurityKey" value="SPApplication"/>
    <add key="DBBackupPath" value="D:\SystemBackup\Dump\"/>
    <add key="ServerPath" value="D:\Malas Reports\"/>
    <!--<add key="ServerPath" value="D:\Softwares\Reports\Malas Reports\" />-->
    <add key="ExcelFormat" value="ExcelFormat\"/>
    <add key="ReportPath" value="Reports\"/>
    <add key="DocumentsPath" value="Documents\"/>
    <add key="EmployeePhotoPath" value="Documents\"/>
    <add key="SitePhotos" value="Reports\EmployeePhoto\Data\"/>
    <add key="DownloadTemplate" value="Data\TemplateFormat\"/>
	  <add key="CompOffFiles" value="Data\CompOffFiles\"/>
    <!--<add key="RdlcPath" value="D:\BitBucketProjects\Malas Fruit\MalasChanges\2012\SPApplication\SPApplication\Report\HRReports\"/>-->
    <add key="RdlcPath" value="D:\GitProjects\Malas-HRM\SPApplication\SPApplication\Report\HRReports\"/>
    

    <!--<add key="MachineName" value="Yashwant"/>-->
    <add key="MachineName" value="localhost"/>
    <add key="GraceTime" value="00:45"/>

    <!--Comman Documents-->
    <add key="EmployeeCheckOutExitPolicy" value="D:\Malas Reports\Documents\Comman\Employee Check-Out Exit Policy.pdf"/>
    <!--<add key="HolidayCalendar" value="D:\Malas Reports\Documents\Comman\Holiday Calendar-2024.pdf"/>-->
	  <add key="HolidayCalendar" value="D:\Malas Reports\Documents\Comman\Holiday-2026-MALAS.pdf"/>
    <!--<add key="LeavePolicy" value="D:\Malas Reports\Documents\Comman\Leave Policy.pdf"/>-->
    <add key="StaffAndSupervisorUniformPolicy" value="E:\Malas Reports\Documents\Comman\Staff and Supervisor Uniform Policy.pdf"/>
    <add key="TobaccoPolicy" value="D:\Malas Reports\Documents\Comman\Tobacco Policy.pdf"/>
    <add key="WorkingHoursAndOvertime" value="D:\Malas Reports\Documents\Comman\Working Hours and Overtime.pdf"/>
    <add key="JobProfilePath" value="Data\JobProfile\"/>
	<add key="UpdatePath" value="D:\BitBucketProjects\Malas Fruit\UpdateVersion\apps.exe"/>

	<!--string sourcePath = "D:\\BitBucketProjects\\Malas Fruit\\UpdateVersion\\apps.exe";-->
	  
    <!--New Policy-->
	<add key="InternshipPolicy" value="D:\Malas Reports\Documents\Comman\Policy\INTERNSHIP POLICY.pdf"/>
	  <add key="EmployeeLoanAndAdvancePolicy" value="D:\Malas Reports\Documents\Comman\Policy\EMPLOYEE LOAN AND ADVANCE POLICY.pdf"/>
	  <add key="StaffAndSupervisorsUniformPolicy" value="D:\Malas Reports\Documents\Comman\Policy\STAFF AND SUPERVISOR UNIFORM POLICY.pdf"/>
	  <add key="EmployeeCheckOutExitPassPolicy" value="D:\Malas Reports\Documents\Comman\Policy\EMPLOYEE CHECK OUT EXIT POLICY.pdf"/>
	  <add key="LeavePolicy" value="D:\Malas Reports\Documents\Comman\Policy\LEAVE POLICY.pdf"/>
	  <add key="WorkingHoursAndOvertimePolicy" value="D:\Malas Reports\Documents\Comman\Policy\WORKING HOURS AND OVERTIME POLICY.pdf"/>
	  <add key="EmpoyeeCodeOfConductPolicy" value="D:\Malas Reports\Documents\Comman\Policy\EMPLOYEE CODE OF CONDUST POLICY.pdf"/>
	  <add key="RetirmentPolicy" value="D:\Malas Reports\Documents\Comman\Policy\RETIREMENT POLICY.pdf"/>
	  <add key="ProductIntegrityAndConfidentialityPolicy" value="D:\Malas Reports\Documents\Comman\Policy\PRODUCT INTEGRITY AND CONFIDENTIALITY POLICY.pdf"/>
	  <add key="HygienePolicy" value="D:\Malas Reports\Documents\Comman\Policy\HYGIENE POLICY.pdf"/>
	  <add key="ViolenceInTheWorkplacePolicy" value="D:\Malas Reports\Documents\Comman\Policy\VIOLENCE IN WORK PLACE POLICY.pdf"/>
	  <add key="MaternityPolicy" value="D:\Malas Reports\Documents\Comman\Policy\MATERNITY POLICY.pdf"/>
	  <add key="MobilePolicy" value="D:\Malas Reports\Documents\Comman\Policy\MOBILE PHONE USAGE POLICY.pdf"/>
	  <add key="TabbaccoPolicy" value="D:\Malas Reports\Documents\Comman\Policy\TOBACCO POLICY.pdf"/>
	  <add key="RecruitmentPolicy" value="D:\Malas Reports\Documents\Comman\Policy\RECRUTMENT POLICY.pdf"/>
	  <add key="POSHPreventionOfSexualHarassmentPolicy" value="D:\Malas Reports\Documents\Comman\Policy\POSH POLICY.pdf"/>
	  
  </appSettings>
  
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager enabled="true" defaultProvider="ClientRoleProvider">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
  <startup>
    <!--<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>-->
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup>
  <runtime>


	  <!--xmlns="http://schemas.microsoft.com/sqlserver/reporting/2010/01/reportdefinition"-->


	  <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
		  <!--<assemblyBinding xmlns="http://schemas.microsoft.com/sqlserver/reporting/2010/01/reportdefinition">-->
      <dependentAssembly>
        <!--<assemblyIdentity name="Microsoft.ReportViewer.Common" publicKeyToken="89845dcd8080cc91" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0"/>-->
	  <!--<assemblyIdentity name="Microsoft.ReportViewer.Common" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />-->
      </dependentAssembly>
     <dependentAssembly>


	    <!--<assemblyIdentity name="MySql.Data" publicKeyToken="c5687fc88969c44d" culture="neutral"/>


	    <bindingRedirect oldVersion="0.0.0.0-8.3.0.0" newVersion="8.3.0.0"/>-->


	   </dependentAssembly>


	   <dependentAssembly>


	    <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
	    <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0"/>


	   </dependentAssembly>


	   <dependentAssembly>


	    <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>


	    <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2"/>


	   </dependentAssembly>


	  </assemblyBinding>
  </runtime>
</configuration>
